#main{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#p1 {

}
#p2 {
    margin : 25px;
    border: 2px solid black;
    background-color: blue;
}
#p3 {
    padding: 15px;
    border: 2px solid black;
    background-color: red;
}
#p4 {
    color: blue;
    display: inline;
}
#p5{
    color: orange;
    display: inline;
}
#p6{
    display: inline-block;
    width: 250px;
    border: 2px solid black;
    background-color: green;
    height: 90px;
}
#p7 {

}